<?xml version="1.0"?>
<model>
  <name>UGV Rover</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>MultiDrone Sim</name>
    <email>sim@example.com</email>
  </author>

  <description>
    A simple ground vehicle representing a Mobile Charging Station.
  </description>
</model>
